<article class="breed">
  <Breed::Image
    src="assets/images/great-dane.jpg"
    alt="A Great Dane and Puppy"
  />
  <div class="details">
    <h3>Great Dane</h3>
    <div class="detail weight">
      <span>Weight:</span> 110 - 175
    </div>
    <div class="detail height">
      <span>Height:</span> 28 - 32 inches
    </div>
    <div class="detail life-span">
      <span>Life Span:</span> 7 - 10 years
    </div>
    <div class="detail breed-group">
      <span>Breed Group:</span> Working
    </div>
    <div class="detail country-of-origin">
      <span>Breed Origin:</span> Germany
    </div>
    <div class="detail temperament">
      <span>Temperament:</span> Friendly, gentle, loving
    </div>
  </div>
  <Map
    @lat="37.7749"
    @lng="-122.4194"
    @zoom="9"
    @width="150"
    @height="150"
    alt="A map of origin for breed"
  />
</article>