<Header>
  <h2>About Breed Finder</h2>
  <p>This is a site showing a collection of dog breeds, their size, life span and temperament.
    We hope that it helps you to find the right dog for your family and to learn about the vast variety of breeds that exist.
  </p>
  <LinkTo @route="contact" class="button">Contact Us</LinkTo>
</Header>