<div class="jumbo">
  <div class="right dog"></div>
  <h2>About Breed Helper</h2>
  <p>This is a site showing a collection of dog breeds and their temperments.
    We hope that it helps you to find the right dog for your family.
  </p>
</div>