<div class="jumbo">
  <div class="right dog"></div>
  <h2>Contact Us</h2>
  <p>
    Do you have questions about certain breeds or would you like some guidance?
    We would love to chat!
  </p>
  <address>
    Dog Breeds HQ
    <p>
      1212 Not Real Address Avenue<br>
      Testington, OR 97218
    </p>
    <a href="tel:503.555.1212">+1 (503) 555-1212</a><br>
    <a href="mailto:dogbreeds@emberjs.com">dogbreeds@emberjs.com</a>
  </address>
</div>