<Header>
  <h2>Welcome to Breed Finder</h2>
  <p>We are your resource to find the exact right fit for your family!</p>
  <LinkTo @route="about" class="button">About Us</LinkTo>
  <LinkTo @route="contact" class="button">Contact Us</LinkTo>
</Header>
<Breeds @breeds={{@model}} />